In [1]:
import pandas as pd

In [7]:
data=pd.read_excel(r"H:\SAYLANI DSC COURSE\AI - SAYLANI - CLASS LECTURES\14-10-22\simple_ml_data.xlsx")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Input (x)   20 non-null     int64
 1   Output (y)  20 non-null     int64
dtypes: int64(2)
memory usage: 448.0 bytes

In [8]:
display(data)

    Input (x)  Output (y)
0           0           0
1           1           3
2           2           6
3           3           9
4           4          12
5           5          15
6           6          18
7           7          21
8           8          24
9           9          27
10         10          30
11         11          33
12         12          36
13         13          39
14         14          42
15         15          45
16         16          48
17         17          51
18         18          54
19         19          57

# Test Train Ratio

In [9]:
train = print("Train Data Rows", 70*len(data)/100)
test = print("Test Data Rows", 30*len(data)/100)

Train Data Rows 14.0
Test Data Rows 6.0

In [13]:
x_train = data.loc[:14, "Input (x)"]
y_train = data.loc[:14, "Output (y)"]

x_test = data.loc[15:, "Input (x)"]
y_test = data.loc[15:, "Output (y)"]

In [14]:
x_train

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
Name: Input (x), dtype: int64

In [15]:
y_train

0      0
1      3
2      6
3      9
4     12
5     15
6     18
7     21
8     24
9     27
10    30
11    33
12    36
13    39
14    42
Name: Output (y), dtype: int64

In [16]:
x_test

15    15
16    16
17    17
18    18
19    19
Name: Input (x), dtype: int64

In [17]:
y_test

15    45
16    48
17    51
18    54
19    57
Name: Output (y), dtype: int64

# Train Test Split with from sklearn

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size=0.3, shuffle=False)

In [21]:
x_train

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: Input (x), dtype: int64